doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Kecerdasan Buatan

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-state='first_slide')
        h1.logo Error403
        <table>
        tr
         td(style="text-align:center; width:70px") NO.
         td(style="text-align:center") NAMA
         td(style="text-align:center") NIM
        tr
         td 1.
         td(style="text-align:left") Desman Harianto
         td 121112066
        tr
         td 2.
         td(style="text-align:left") Jones Pasaribu
         td 121111818
        tr
         td 3.
         td(style="text-align:left") M. Ardiansyah Hutasuhut
         td 121112830</table>

      section(data-bespoke-state='emphatic')
        h1 Kecerdasan Buatan

      section(data-bespoke-state='emphatic')
        h2 Apa itu Kecerdasan Buatan?
        p Kecerdasan Buatan (bahasa Inggris: Artificial Intelligence atau biasa disingkat AI) merupakan salah satu bagian ilmu komputer yang membuat agar mesin (komputer) dapat melakukan pekerjaan seperti yang dapat dilakukan manusia.

      section(data-bespoke-state='emphatic')
        h2 Sejarah Kecerdasan Buatan
        p Tahun 1950 – an Alan Turing, seorang pionir AI dan ahli matematika Inggris melakukan percobaan Turing (Turing Test) yaitu sebuah komputer melalui terminalnya ditempatkan pada jarak jauh. Di ujung yang satu ada terminal dengan software AI dan diujung lain ada sebuah terminal dengan seorang operator. Operator itu tidak mengetahui kalau di ujung terminal lain dipasang software AI. Mereka berkomunikasi dimana terminal di ujung memberikan respon terhadap serangkaian pertanyaan yang diajukan oleh operator. Dan sang operator itu mengira bahwa ia sedang berkomunikasi dengan operator lainnya yang berada pada terminal lain. Turing beranggapan bahwa jika mesin dapat membuat seseorang percaya bahwa dirinya mampu berkomunikasi dengan orang lain, maka dapat dikatakan bahwa mesin tersebut cerdas (seperti layaknya manusia).

      section(data-bespoke-state='emphatic')
        h2 Definisi
        h3.bullet Beberapa pakar ilmu kecerdasan buatan membuat bermacam – macam definisi, antara lain:
        ol
          li <b>Buchanan dan Shortliffe (1985)</b>
          p.bullet menyatakan bahwa kecerdasan tiruan merupakan manipulasi simbol – simbol untuk menyelesaikan masalah.
          li <b>Waterman (1986)</b>
          p.bullet mengungkapkan bahwa kecerdasan tiruan adalah bagian penting ilmu pengetahuan bidang komputer yang diperlukan untuk mengembangkan kecerdasan program – program komputer.

      section(data-bespoke-state='emphatic')
        h2 Definisi
        ol(start=3)
          li <b>Rich (1981)</b>
          p.bullet mendefinisikan kecerdasan tiruan sebagai suatu studi bagaimana membuat komputer mengerjakan sesuatu sedemikian rupa sehingga pada saat itu orang merasa mendapatkan hasil yang lebih baik.
          li <b>Shcildt (1987)</b>
          p.bullet mengatakan bahwa suatu program kecerdasan tiruan akan menunjukkan perilaku program yang menyerupai perilaku manusia jika menghadapi persoalan yang sama.

      section(data-bespoke-state='emphatic')
        h2 Kegunaan
        p Pada awal diciptakannya, komputer hanya difungsikan sebagai alat hitung saja. Namun seiring dengan perkembangan jaman, maka peran komputer semakin mendominasi kehidupan umat manusia. Komputer tidak lagi hanya digunakan sebagai alat hitung, lebih dari itu, komputer diharapkan untuk dapat diberdayakan untuk mengerjakan sesuatu yang bisa dikerjakan oleh manusia.

      section(data-bespoke-state='emphatic')
        h2.bullet Tujuan Kecerdasan Buatan
        ol
         li Winston dan Prendergast (1984)
         p.bullet Membuat mesin menjadi lebih pintar (tujuan utama)
         li Memahami apa itu kecerdasan (tujuan ilmiah)
            Membuat mesin lebih bermanfaat (tujuan entrepreneurial)

      section(data-bespoke-state='myslide')
        h2 Implementasi
        h3.bullet Implementasi kecerdasan buatan dapat diterapkan pada bidang:
        ol
         li Visualisasi Komputer
         p.bullet Kecerdasan buatan pada bidang visualisasi komputer ini memungkinkan sebuah sistem komputer mengenali gambar sebagai input. Contohnya mengenali sebuah pola pada suatu gambar.

      section(data-bespoke-state='myslide')
        h2 Implementasi
        ol(start=2)
         li Pengenalan Suara
         p.bullet Kecerdasan buatan pada pengenalan suara ini dapat mengenali suara manusia. Cara mengenali suara ini dengan mencocokannya pada acuan yang telah diprogramkan terlebih dahulu. Contohnya perintah komputer dengan menggunakan suara user.

      section(data-bespoke-state='myslide')
        h2 Implementasi
        ol(start=3)
         li Sistem Pakar
         p.bullet Kecerdasan buatan pada Sistem Pakar ini memungkinkan sebuah sistem komputer memiliki cara berpikir dan penalaran seorang ahli dalam mengambil keputusan, untuk memecahkan masalah yang ada pada saat itu. Contohnya program komputer yang dapat mendiagnosa penyakit dengan memasukan gejala-gejala yang dialami pasien.

      section(data-bespoke-state='myslide')
        h2 Implementasi
        ol(start=4)
         li Permainan
         p.bullet Kecerdasan buatan pada permainan ini memungkinkan sebuah sistem komputer untuk memiliki cara berpikir manusia dalam bermain. Contohnya permainan yang memiliki fasilitas orang melawan komputer. Komputer sudah di program sedemikian rupa agar memiliki cara bermain seperti seorang manusia bahkan bisa melebihi seorang manusia.

      section(data-bespoke-state='blackslide')
        h2(style="text-align:center") Perbedaan Kecerdasan Buatan & Kecerdasan Alami

      section(data-bespoke-state='blackslide')
        h2.bullet Kelebihan Kecerdasan Buatan
        ol
         li Lebih bersifat permanen. Kecerdasan alami bisa berubah karena sifat manusia pelupa. Kecerdasan buatan tidak berubah selama sistem komputer & program tidak mengubahnya.
         li Lebih mudah diduplikasi & disebarkan. 
         li Lebih murah.
         li	Bersifat konsisten dan teliti karena kecerdasan buatan adalah bagian dari teknologi komputer sedangkan kecerdasan alami senantiasa berubah-ubah.

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild